[run]
branch = True
source = datreant
exclude_lines =
    pragma: no cover

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    def _repr_html_
    def __str__
    raise NotImplementedError
    if __name__ == .__main__.:


